body {
    background-image: url('radioactive-decay-atom-showing-energy-260nw-1170935842.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
  }